<!DOCTYPE html>
<html>
  <head>
    <base target="_top" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <?!= include("Login", "css");?>
  </head>
  <body>
    <!-- Loading Spinner -->
    <div id="loading-spinner" class="loading-spinner">
      <div class="spinner"></div>
      <p>Loading...</p>
    </div>

    <div class="container" id="container">
      <div class="form-container sign-up-container">
        <form method="post" action="<?= url ?>">
          <h1>Create Account</h1>
          <input
            type="text"
            placeholder="Name"
            id="name"
            name="name"
            required
          />
          <input
            type="text"
            placeholder="Student ID"
            id="student-id"
            name="studentid"
            required
          />
          <input
            type="email"
            placeholder="Email"
            id="email"
            name="email"
            required
          />
          <input
            type="tel"
            placeholder="0900-123-456"
            id="phone"
            name="phone"
            pattern="[0-9]{4}-[0-9]{3}-[0-9]{3}"
            required
          />
          <input
            type="password"
            placeholder="Password"
            id="password"
            name="password"
            required
          />
          <div id="signup_msg" class="hidden"></div>
          <button id="signUp-btn" type="submit" value="SignUp" name="SignUpButton">
            Sign Up
          </button>
        </form>
      </div>
      <div class="form-container sign-in-container">
        <?var url = getUrl();?>
        <form method="post" action="<?= url ?>">
          <h1>Sign in</h1>
          <input type="text" name="studentid" placeholder="Student ID" />
          <input type="password" name="password" placeholder="Password" />
          <button id="signIn-btn"" type="submit" value="Login" name="LoginButton" id="sign-btn">
            Sign In
          </button>
          <span id="signin_msg"><?= message ?></span>
        </form>
      </div>
      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
            <h1>Welcome Back</h1>
            <p>
              To keep connected with us please login with your personal info
            </p>
            <button class="ghost" id="signInPage-btn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <h1>Hello, Friend!</h1>
            <p>Enter your personal details and start journey with us</p>
            <button class="ghost" id="signUpPage-btn">Sign Up</button>
          </div>
        </div>
      </div>
    </div>
    <?!= include("Login", "js");?>
  </body>
</html>
