<!DOCTYPE html>
<html>
  <head>
    <base target="_top" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <?!= include("Select", "css");?>
  </head>
  <body onload="LoadSelectBoxOption()">
    <header>
      <h1>選擇服務學習</h1>
      <h3 id="username"><?= username ?></h3>
    </header>

    <!-- Navigation bar -->
    <div class="nav-container">
      <input type="hidden" value="<?= username ?>" name="username" />
      <form method="post" action="<?= getUrl() ?>">
        <input type="hidden" value="<?= username ?>" name="username" />
        <input type="hidden" value="<?= studentid ?>" name="studentid" />
        <button type="submit" value="Home" name="HomeButton"><i class="fa fa-home" aria-hidden="true"></i> 首頁</button>
      </form>
      <input type="hidden" value="<?= username ?>" name="username" />
      <form method="post" action="<?= getUrl() ?>">
        <input type="hidden" value="<?= username ?>" name="username" />
        <input type="hidden" value="<?= studentid ?>" name="studentid" />
        <button type="submit" value="Profile" name="ProfileButton"><i class="fa fa-user" aria-hidden="true"></i> 我的資訊</button>
      </form>
      <input type="hidden" value="<?= username ?>" name="username" />
      <form method="post" action="<?= getUrl() ?>">
        <input type="hidden" value="<?= username ?>" name="username" />
        <input type="hidden" value="<?= studentid ?>" name="studentid" />
        <button type="submit" value="SelectService" name="SelectLearningButton">
          <i class="fa fa-hand-o-up" aria-hidden="true"></i> 選擇服務學習
        </button>
      </form>
      <input type="hidden" value="<?= username ?>" name="username" />
      <form method="post" action="<?= getUrl() ?>">
        <input type="hidden" value="<?= username ?>" name="username" />
        <button type="submit" value="Logout" name="LogoutButton"><i class="fa fa-sign-out" aria-hidden="true"></i> 登出</button>
      </form>
    </div>

    <!-- Activity Option -->
    <!-- Loading Spinner for select options -->
    <div id="loading-spinner" class="loading-spinner">
      <div class="spinner"></div>
      <p>Loading...</p>
    </div>

    <!-- Tables will be dynamically inserted here -->
    <div id="selectbox-container"></div>

    <div class="info" data-selected="">
      <span class="loader">loading...</span>
      <span class="no-selection">尚未選擇任何活動</span>
      <div class="event-info">
        <p id="event-name"></p>
        <p id="event-time"></p>
        <p id="event-place"></p>
        <p id="event-hours"></p>
        <p id="event-note"></p>
      </div>
    </div>
    <form method="post" action="">
      <button id="confirm-btn" type="button">確定</button>
    </form>

    <?!= include("Select", "js");?>
  </body>
</html>
