<!DOCTYPE html>
<html>
  <head>
    <base target="_top" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <?!= include("Welcome", "css");?>
  </head>
  <body onload="loadTableData()">
    <header>
      <h1>成大藝術中心</h1>
      <h3><?= username ?></h3>
    </header>

    <?!= evaluatedNavbar ?>

    <!-- Loading Spinner -->
    <div id="loading-spinner" class="loading-spinner">
      <div class="spinner"></div>
      <p>Loading...</p>
    </div>

    <!-- Tables will be dynamically inserted here -->
    <div id="table-container"></div>

    <footer id="contact">
      <p>成大藝術中心</p>
      <p>
        <i class="fa fa-map-marker" aria-hidden="true"></i> 701
        台南市東區大學路1號
      </p>
      <p>Tel: 06-2757575#50014</p>
    </footer>

    <?!= include("Welcome", "js");?>
  </body>
</html>
